extends base.pug 

block scripts
  script(src='/static/index.js')

block style
    style
        include ../static/style.css
        include ../static/styleAbout.css


block content
    div.container 
            h1 About Us
                h2 We have the group of most talented musicians all across the world. 
                div.head COME and JOIN us to experience and express music which connects souls and led us to a wider vison and a prosper life.
                
        
       
